.DS_Store

.cache/
.generated/
.snapshots/

.build/
.derived/
DerivedData/
.DerivedData/
.DerivedData*/
.swiftpm/
Packages/

*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

NYC CC APP/IMG_*.PNG
